.areaRange {
  display: flex;
  align-items: center;
  column-gap: 7.3125rem;
  justify-content: left;
}

.max,
.min {
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
}

.span {
  margin-bottom: 1rem;
  font-family: var(--font-bold);
}
