.page {
  max-width: fit-content;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  row-gap: 5rem;
}

.p {
  font-size: 2rem;
  text-align: center;
}

.buttons {
  display: flex;
  column-gap: 15px;
  margin-left: auto;
  margin-bottom: 5.4375rem;
}
