.btn {
  background: none;
  border-radius: 10px;
  border: solid 1px var(--color-agent-button-outline);
  background-color: var(--color-listing-button-background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  padding: 0.875rem 1rem;

  display: flex;
  column-gap: 6px;
  justify-content: center;
  align-items: center;

  color: var(--color-white);
  font-family: var(--font-bold);
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-agen-button-text);
}
