.btn {
  border-radius: 8px;
  background-color: var(--color-white);
  cursor: pointer;

  margin-left: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btnhover:hover {
  background-color: #808a93;
}
