.item {
  border: solid 1px var(--color-filters-outline);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  overflow: hidden;

  position: relative;
  cursor: pointer;
}

.img {
  max-width: 24rem;
  /* max-height: 19.1875rem; */
  /* width: 24rem; */
  width: auto;
  height: 19.1875rem;
  object-fit: cover;
}

.available {
  background-color: rgba(2, 21, 38, 0.5);
  padding: 6px 10px;
  border-radius: 15px;
  position: absolute;
  top: 23px;
  left: 23px;
  color: var(--color-white);
  font-size: 0.75rem;
}

.details {
  padding: 1.375rem 1.5625rem;
}

.price {
  font-size: 1.75rem;
  font-family: var(--font-bold);
}

.location {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: var(--color-details);
  margin-top: 6.5px;
}

.apartInfo {
  color: var(--color-details);
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin-top: 20px;
}

.span {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
