.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-agent-button-outline);
  color: var(--color-white);
  cursor: pointer;

  margin-left: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: rgba(223, 48, 20, 1);
}
