@font-face {
  font-family: "FiraGO";
  src: url("/src/assets/fonts/FiraGO-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FiraGOBold";
  src: url("/src/assets/fonts/FiraGO-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FiraGOLight";
  src: url("/src/assets/fonts/FiraGO-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

:root {
  --font-primary: "FiraGO", sans-serif;
  --font-bold: "FiraGOBold", sans-serif;
  --font-light: "FiraGOLight", sans-serif;

  --color-filters-hover: #f3f3f3;
  --color-white: #fff;
  --color-filters-outline: #dbdbdb;
  --color-agent-button-outline: #f93b1d;
  --color-listing-button-background: #f93b1d;
  --color-agen-button-text: #f93b1d;
  --color-details: rgba(2, 21, 38, 0.7);
  --color-green: #45a849;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  /* display: flex; */
  width: 81.5%;
  /* margin: 0 auto; */
}
